<h1>Layout</h1>

<h2>0 - Base</h2>
<div class="layer">
    <table>
        <tr>
            <td><em>tab</em></td>
            <td><code>B</code></td>
            <td><code>S</code></td>
            <td><code>P</code></td>
            <td><code>O</code></td>
            <td><code>_</code></td>
        </tr>
        <tr>
            <td><em>⇧</em></td>
            <td><code>A</code></td>
            <td><code>U</code></td>
            <td><code>I</code></td>
            <td><code>E</code></td>
            <td><code>,</code><code class="hold">;</code></td>
        </tr>
        <tr>
            <td class="unused"></td>
            <td><code>W</code></td>
            <td><code>Y</code></td>
            <td><code>Z</code></td>
            <td><code>.</code><code class="hold">:</code></td>
            <td><code>K</code></td>
        </tr>
    </table>
    <table>
        <tr>
            <td><code class="dead">^</code><code class="hold">!</code></td>
            <td><code>V</code></td>
            <td><code>D</code></td>
            <td><code>L</code></td>
            <td><code>J</code></td>
            <td><code>X</code></td>
        </tr>
        <tr>
            <td><code>C</code></td>
            <td><code>T</code></td>
            <td><code>M</code></td>
            <td><code>R</code></td>
            <td><code>N</code></td>
            <td><em>⇧</em></td>
        </tr>
        <tr>
            <td><code>'</code><code class="hold">?</code></td>
            <td><code>Q</code></td>
            <td><code>G</code></td>
            <td><code>H</code></td>
            <td><code>F</code></td>
            <td class="unused"></td>
        </tr>
    </table>
</div>

<h2>1 - Diacritics/Symbols (right thumb)</h2>
<div class="layer">
    <table>
        <tr>
            <td><code>Æ</code></td>
            <td><code>(</code></td>
            <td><code>)</code></td>
            <td><code>Œ</code></td>
            <td><code>Ó</code></td>
            <td><code>Ò</code></td>
        </tr>
        <tr>
            <td><em>⇧</em></td>
            <td><code>À</code></td>
            <td><code>Ù</code></td>
            <td><code>Ì</code></td>
            <td><code>É</code></td>
            <td><code>È</code></td>
        </tr>
        <tr>
            <td class="unused"></td>
            <td><code>Á</code></td>
            <td><code>Ú</code></td>
            <td><code>Í</code></td>
            <td><code>…</code></td>
            <td><code>€</code></td>
        </tr>
    </table>
    <table>
        <tr>
            <td><code>^</code></td>
            <td><code>«</code></td>
            <td><code>»</code></td>
            <td><code>Ŀ</code></td>
            <td><code class="dead">¨</code></td>
            <td><code>°</code></td>
        </tr>
        <tr>
            <td><code>Ç</code></td>
            <td><code>@</code></td>
            <td><code>„</code></td>
            <td><code>“</code></td>
            <td><code>”</code></td>
            <td><em>⇧</em></td>
        </tr>
        <tr>
            <td><code class="dead">~</code></td>
            <td><code>←</code></td>
            <td><code>↓</code></td>
            <td><code>↑</code></td>
            <td><code>→</code></td>
            <td class="unused"></td>
        </tr>
    </table>
</div>

<h2>2 - Numpad/Symbols (left thumb)</h2>
<div class="layer">
    <table>
        <tr>
            <td><code>/</code></td>
            <td><code>1</code></td>
            <td><code>2</code></td>
            <td><code>3</code></td>
            <td><code>=</code></td>
            <td class="transparent"><code>_</code></td>
        </tr>
        <tr>
            <td><code>*</code></td>
            <td><code>4</code></td>
            <td><code>5</code></td>
            <td><code>6</code></td>
            <td><code>0</code></td>
            <td><code>-</code></td>
        </tr>
        <tr>
            <td class="unused"></td>
            <td><code>7</code></td>
            <td><code>8</code></td>
            <td><code>9</code></td>
            <td class="transparent"><code>.</code></td>
            <td><code>+</code></td>
        </tr>
    </table>
    <table>
        <tr>
            <td><code>`</code></td>
            <td><code>[</code></td>
            <td><code>]</code></td>
            <td><code>|</code></td>
            <td><code>#</code></td>
            <td><code>%</code></td>
        </tr>
        <tr>
            <td><code>$</code></td>
            <td><code>{</code></td>
            <td><code>}</code></td>
            <td><code>&</code></td>
            <td><code>"</code></td>
            <td><em>⇧</em></td>
        </tr>
        <tr>
            <td><code>~</code></td>
            <td><code>&lt;</code></td>
            <td><code>&gt;</code></td>
            <td><code>\</code></td>
            <td></td>
            <td class="unused"></td>
        </tr>
    </table>
</div>

<h2>3 - Shortcuts (left thumb)</h2>
<div class="layer">
    <table>
        <tr>
            <td><code></code></td>
            <td><em>F1</em></td>
            <td><em>F2</em></td>
            <td><em>F3</em></td>
            <td><code></code></td>
            <td><em>copy</em></td>
        </tr>
        <tr>
            <td><em>⇧</em></td>
            <td><em>F4</em></td>
            <td><em>F5</em></td>
            <td><em>F6</em></td>
            <td><em>F10</em></td>
            <td><em>paste</em></td>
        </tr>
        <tr>
            <td class="unused"></td>
            <td><em>F7</em></td>
            <td><em>F8</em></td>
            <td><em>F9</em></td>
            <td><code></code></td>
            <td><em>cut</em></td>
        </tr>
    </table>
    <table>
        <tr>
            <td><code>```</code></td>
            <td><em>desk left</em></td>
            <td></td>
            <td></td>
            <td><em>desk right</em></td>
            <td><code>=></code></td>
        </tr>
        <tr>
            <td><code>-></code></td>
            <td><em>home</em></td>
            <td><em>page down</em></td>
            <td><em>page up</em></td>
            <td><em>end<em></td>
            <td><em>⇧</em></td>
        </tr>
        <tr>
            <td></td>
            <td><em>left</em></td>
            <td><em>down</em></td>
            <td><em>up</em></td>
            <td><em>right</em></td>
            <td class="unused"></td>
        </tr>
    </table>
</div>

<h2>4 - Multimedia/Shortcuts (left/double thumb)</h2>
<div class="layer">
    <table>
        <tr>
            <td><code></code></td>
            <td><em>save</em></td>
            <td><em>undo</em></td>
            <td><em>redo</em></td>
            <td><em>search</em></td>
            <td><em></em></td>
        </tr>
        <tr>
            <td><em></em></td>
            <td><em></em></td>
            <td><em>step out</em></td>
            <td><em>step into</em></td>
            <td><em>step over</em></td>
            <td><em></em></td>
        </tr>
        <tr>
            <td class="unused"></td>
            <td><code></code></td>
            <td><em></em></td>
            <td><em></em></td>
            <td><em></em></td>
            <td><em></em></td>
        </tr>
    </table>
    <table>
        <tr>
            <td><code></code></td>
            <td><em>☀️ -</em></td>
            <td><em>🔈</em></td>
            <td><em>🔊</em></td>
            <td><em>☀️ +<em></td>
            <td><code></code></td>
        </tr>
        <tr>
            <td><code></code></td>
            <td><em>⏮️</em></td>
            <td><em>⏯️</em></td>
            <td><em>mute</em></td>
            <td><em>⏭️</em></td>
            <td><em></em></td>
        </tr>
        <tr>
            <td></td>
            <td><em></em></td>
            <td><em></em></td>
            <td><em></em></td>
            <td><em></em></td>
            <td class="unused"></td>
        </tr>
    </table>
</div>

<h2>Rare Diacritics/Symbols - page 2</h2>
<div class="layer">
    <table>
        <tr>
            <td><code>÷</code></td>
            <td><code>£</code></td>
            <td><code>ß</code></td>
            <td data-tooltip="Ogonek"><code class="dead">˛</code></td>
            <td><code>≠</code></td>
            <td><code>—</code></td>
        </tr>
        <tr>
            <td><code>×</code></td>
            <td data-tooltip="Breve vowel"><code class="dead">˘</code></td>
            <td data-tooltip="Macron (long vowel)"><code class="dead">¯</code></td>
            <td><code></code></td>
            <td><code>¥</code></td>
            <td><code>–</code></td>
        </tr>
        <tr>
            <td class="unused"></td>
            <td><code></code></td>
            <td><code></code></td>
            <td><code></code></td>
            <td><code>§</code></td>
            <td><code>±</code></td>
        </tr>
    </table>
    <table>
        <tr>
            <td><code>¡</code></td>
            <td><code></code></td>
            <td><code>ð<code class="hold">Ð</code></code></td>
            <td><code>Ł</code></td>
            <td data-tooltip="Caron"><code class="dead">ˇ</code></td>
            <td><code class="dead">˚</code></td>
        </tr>
        <tr>
            <td data-tooltip="Cedilla"><code class="dead">¸</code></td>
            <td><code>þ</code><code class="hold">Þ</code></td>
            <td><code>µ</code></td>
            <td><code></code></td>
            <td data-tooltip="Logical NOT"><code>¬</code></td>
            <td><em>⇧</em></td>
        </tr>
        <tr>
            <td><code>¿</code></td>
            <td><code>≤</code></td>
            <td><code>≥</code></td>
            <td><code>‘</code></td>
            <td><code>’</code></td>
            <td class="unused"></td>
        </tr>
    </table>
</div>

<style>
    .layer {
        display: flex;
        gap: 4rem;
    }

    h2 {
        font-size: 1.3rem;
        margin-bottom: .4rem;
    }

    body {
        padding-left: 2em;
    }

    table {
        border-collapse: collapse;
        border: 2px solid black;
        font-weight: bold;

        td {
            border: 1px solid black;
            width: 3rem;
            height: 3rem;
            text-align: center;
            font-size: 1em;

            code {
                font-size: 1.6em;
            }

            .hold {
                float: right;
                vertical-align: -80%;
                color: green;
            }

            .dead {
                display: inline-block;
                border: 2px dotted blue;
            }

            em {
                font-style: normal;
                color: blue;
                line-height: 1rem;
            }

            &.transparent {
                background-color: #ddd;
            }

            &.unused {
                background-color: #555;
            }
        }
    }

    [data-tooltip] {
        position: relative;
        cursor: help;

        &::before {
            content: attr(data-tooltip);
            position: absolute;
            width: 150px;
            display: block;
            background: #FFF;
            padding: 10px;
            top: -50px;
            box-shadow: 0px 2px 5px #0000008c;
            border-radius: 3px;
            text-align: center;
            left: 0;
            z-index: 1;
            opacity: 0;
            pointer-events: none;
            transform: translateY(20px);
            transition: all .3s cubic-bezier(.4, 0, .2, 1);
        }

        &:hover {
            &::before {
                transform: translate(0);
                opacity: 1;
                background-color: bisque;
            }
        }
    }
</style>